@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

body {
  font-family: Nunito, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #6601FF;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  cursor: pointer;
  margin: 0 10px 0 10px;
}

.main-menu-container {
  background-color: white;
  padding: 15px 0 20px 0;
  border-radius: 20px;
  width: 350px;
}
.main-menu {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 35px;
}
.menu-icon {
  flex: 1;
  margin-right: 5px;
  position: relative;
  top: 0.28em;
}
.menu-item-name {
  width: 100%;
  padding: 7px 0;
}
.icon-and-name {
  margin: 0 10px 0 10px;
  display: flex;
}

.menu-title {
  padding-left: 20px;
  font-size: 45px;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
}

.back-button{
  top: .125em;
  position: relative;
  margin-right: 10px;
}
